body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
:root{
    --bg-info: #ccdefc;
    --text-info:#484198;
    --bg-success:#ccf3dc;
    --text-success:#016433;
    --bg-warning:#fcfbce;
    --text-warning:#8b762a;
    --bg-error:#fcd3d7;
    --text-error:#8e243d;
    --border-color: #d1d1d1;
}
.message {
    margin: 8px;
    padding: 10px;
    /*border radius it can stay because this is consiodered a super class, it also will affect the roundness of the picture itself(remember the ryan profile pic from circle to square)*/
    border-radius: 7px;
    border: 0.03125em solid var(--border-color);
}
.message-info{
    color: var(--text-info);
    background-color: var(--bg-info);
}
.message-success{
    color: var(--text-success);
    background-color: var(--bg-success);
}
.message-warning{
    color: var(--text-warning);
    background-color: var(--bg-warning);
}
.message-error{
    color: var(--text-error);
    background-color: Var(--bg-error);
}
